body {
    /*font-family : "Roboto", sans-serif;*/
    background-color: whitesmoke;
}
:root{
    font-size: 20px;
}
.side-heading{
    font-weight: bold;
}
.container {
    background-color: white;
    max-width: 20rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50);

}
.info{
    padding: 1rem;
}
.flag{
    height: 10rem;
    width:100%;
}
.post-pic {
    height: 14rem;
    width: 100%;
    object-fit: cover;
}
.sub-heading,
.user-name {
    color: hsl(214, 19%, 35%);
    font-weight: bold;
}
.user-name {
margin: 4px;
}
.main-content {
    color: hsl(214, 17%, 51%);
}
.post-date{
    color: hsl(214, 17%, 51%);
    margin: 0;

}
.profile-pic {
    border-radius: 50%;
    height: 3rem;
}
.share-container {
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.post-details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding:1rem;
    position: relative;
}
.share-details{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    background-color: hsl(217, 19%, 35%);
    /* overlap */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* Hide */
    opacity: 0;
    /* move down*/
    transform: translateY(2rem);
    /* animation */
    transition: all 0.2 ease;
}
.post-details:hover .share-details{
    opacity:1;
    transform: translate(0);
}
.share-title {
    color: hsl(214, 17%, 51%);
    letter-spacing: 0.5rem;
    font-weight: bold;
}
.share-pic {
    height: 1.rem;
    margin-right: 1rem;

}
